.header {
  background: var(--primary);
  padding: 0.625rem 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  transition: all 0.3s;
  border-bottom: 1px solid var(--gray);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_nav {
  display: flex;
  align-items: center;
}

.navbar_nav li {
  position: relative;
}

.navbar_nav li a {
  font-family: var(--font-family-made);
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--white);
  padding: 0.625rem 1.563rem;
  text-transform: uppercase;
  transition: all 0.4s;
}

.navbar_nav li:hover a,
.navbar_nav li a.active {
  color: var(--light-gray);
}

.header_btn button,
.header_btn_mobile button {
  background: transparent;
  color: var(--white);
  font-family: var(--font-family-made);
  font-size: 0.938rem;
  font-weight: 500;
  border: 1px solid var(--white);
  border-radius: 0.625rem;
  padding: 0.75rem 1.8rem 0.844rem;
  cursor: pointer;
  transition: all 0.4s;
}

.header_btn button:hover {
  background: var(--light-gray);
  border: 1px solid var(--gray);
  color: var(--primary);
}

.toggle_open {
  display: none;
}

/* Side Drawer */
.drawer_open .navbar_nav .active {
  color: var(--white);
}

.drawer_open .navbar_nav li a {
  color: var(--white);
}

.toggle_close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--light-gray);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
}

.navbar_drawer {
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--primary);
  width: 300px;
  height: 100vh;
  padding: 30px;
  z-index: 999;
  display: flex;
  align-items: center;
  transform: translateX(100%);
  transition: all 0.3s cubic-bezier(0.62, 0.16, 0.29, 0.88);
}

.navbar_drawer .navbar_nav {
  width: 100%;
  display: block !important;
  margin-top: -20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(84, 84, 86, 0.8);
  opacity: 0;
  z-index: -1;
  transition: all 0.3s;
}

.overlay_show {
  opacity: 1;
  z-index: 4;
}

.navbar_drawer .navbar_nav {
  margin-top: 2.5rem;
}

.navbar_drawer .navbar_nav li {
  margin-bottom: 2rem;
}

.navbar_drawer .navbar_nav .active {
  background: none;
}

/* MEDIA QUERIS */
@media (max-width: 991px) {
  .navbar_nav,
  .my_button_sm {
    display: none;
  }

  .toggle_open {
    position: relative;
    background-color: var(--light-gray);
    width: 44px;
    height: 42px;
    border-radius: 0.625rem;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .drawer_open {
    transform: translateX(0%);
  }

  .navbar {
    justify-content: flex-start;
  }

  .header_btn {
    margin-left: auto;
    margin-right: 3rem;
  }
}

@media (max-width: 767px) {
  .navbar {
    justify-content: space-between;
  }

  .header_btn {
    display: none;
  }
}
