.our_projects {
    padding-top: 5rem;
}

.slider_meta {
    position: relative;
    margin: 2.5rem;
}

.project_img {
    width: 100%;
    border-radius: 0.625rem;
    object-fit: cover;
    animation-duration: 0.5s;
    height: 28rem;
}

.slider_meta .project_id {
    font-family: var(--font-family-azonix);
    font-size: 2rem;
    font-weight: 400;
    color: var(--white);
}

.slider_meta h3 {
    font-family: var(--font-family-azonix);
    font-size: 1.5rem;
    font-weight: 400;
}

.slider_meta {
    & .project_title {
        padding-top: 2rem;
        padding-left: 2rem;
    }

    & .project_link {
        padding-left: 2rem;
    }

    & .project_detail {
        padding-left: 2rem;
    }
}

.slider_meta .project_link {
    display: block;
    font-family: var(--font-family-made);
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--white);
    margin-top: 1.25rem;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.slider_meta p {
    font-family: var(--font-family-made);
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--white);
    margin-top: 1.25rem;
    line-height: 1.5rem;
}

/* MoreProjects */
.more_projects {
    background: var(--border);
    padding: 3rem 0;
    margin: 3rem 0;
}

.more_projects_meta {
    text-align: center;
}

.more_projects .more_project_img {
    /* padding: 0 0.75rem; */
    display: inline-block;
}

.more_projects .more_project_img img {
    width: 100%;
    border-radius: 0.625rem;
    object-fit: cover;
    height: 200px;
}

.more_projects_meta .project_title {
    font-family: var(--font-family-made);
    font-size: 1.25rem;
    font-weight: 400;
    /* padding-left: 0.75rem; */
    /* padding-top: 0.625rem; */
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
    .project_img {
        height: 24rem;
    }
}

@media (max-width: 767px) {
    .our_projects {
        padding-top: 3rem;
    }
}

@media (max-width: 576px) {
    .our_projects {
        padding-top: 2.5rem;
    }

    .more_projects .more_project_img img {
        height: 10rem;
    }

    .more_projects {
        padding: 2rem 0 3rem;
        margin: 2rem 0;
    }
}