.hero {
    background: url(../../public/images/hero.png) no-repeat center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
}

.hero_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_title {
    font-family: var(--font-family-azonix);
    font-size: 5rem;
    font-weight: 400;
    color: var(--white);
    text-transform: uppercase;
}

.hero_text {
    font-family: var(--font-family-azonix);
    font-size: 1.875rem;
    font-weight: 400;
    color: var(--white);
    text-transform: uppercase;
    text-align: right;
}
.hero_text_mini {
    font-family: var(--font-family-azonix);
    font-size: 0.8rem;
    font-weight: 200;
    color: var(--white);
    text-transform: lowercase;
    text-align: center;
    background-color: black;
}

/* MEDIA QUERIES */
@media (min-width: 1400px) {
    .hero_title {
        font-size: 6.25rem;
    }

    .hero_text {
        font-size: 2.3rem;
    }
}

@media (max-width: 767px) {
    .hero_title {
        font-size: 3rem;
    }

    .hero_text {
        font-size: 1.1rem;
    }
}

@media (max-width: 576px) {
    .hero {
        height: 31.25rem;
    }
}