@font-face {
  font-family: 'Azonix';
  src: url('../../public/fonts/AzonixRegular.woff2') format('woff2'),
    url('../../public/fonts/AzonixRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE INFINITY Personal Use';
  src: url('../../public/fonts/MADEINFINITYPersonalUse-Black.woff') format('woff2'),
    url('../../public/fonts/MADEINFINITYPersonalUse-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE INFINITY Personal Use';
  src: url('../../public/fonts/MADEINFINITYPersonalUse-Regular.woff2') format('woff2'),
    url('../../public/fonts/MADEINFINITYPersonalUse-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE INFINITY Personal Use';
  src: url('../../public/fonts/MADEINFINITYPersonalUse-Light.woff2') format('woff2'),
    url('../../public/fonts/MADEINFINITYPersonalUse-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE INFINITY Personal Use';
  src: url('../../public/fonts/MADEINFINITYPersonalUse-Medium.woff2') format('woff2'),
    url('../../public/fonts/MADEINFINITYPersonalUse-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE INFINITY Personal Use';
  src: url('../../public/fonts/MADEINFINITYPersonalUse-Thin.woff2') format('woff2'),
    url('../../public/fonts/MADEINFINITYPersonalUse-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family-made: 'MADE INFINITY Personal Use';
  --font-family-azonix: 'Azonix';
  --primary: #2C2929;
  --gray: #535557;
  --dark-gray: #5A5A5A;
  --white: #ffffff;
  --black: #000000;
  --light-gray: #B7B7B7;
  --border: #EEEEEE;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Common style */
.site-heading {
  font-family: var(--font-family-azonix);
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--primary);
  text-align: center;
}

.site-text {
  font-family: var(--font-family-made);
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray);
  text-align: center;
  margin-top: 0.313rem;
  text-transform: capitalize;
}

.site-sub-heading {
  font-family: var(--font-family-azonix);
  font-size: 1.75rem;
  font-weight: 400;
  color: var(--primary);
  text-align: center;
  text-transform: capitalize;
}

/* Our Projects Slider */
.projects-slider {
  margin-top: 2.5rem;
}

.our-projects-slider,
.more-projects-slider {
  overflow: hidden;
}

.more-projects-slider {
  margin-top: 2.5rem;
  padding-bottom: 2rem;
}

.more-projects-slider .slick-dots {
  bottom: -2.188rem;
}

.more-projects-slider .slick-dots li button:before {
  font-size: 0.5rem;
  color: var(--light-gray);
  opacity: .6;
}

.more-projects-slider .slick-dots .slick-active button:before {
  font-size: 0.5rem;
  color: var(--primary);
  opacity: 1;
}

.our-projects-slider .slick-current img {
  transform: scale(1.1);
}

.our-project-content {
  background: var(--primary);
  border-radius: 0.625rem;
  width: 30.438rem;
  padding: 0 2rem 2rem 0;
  color: var(--white);
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
}

.our-projects-slider .slick-current .our-project-content {
  bottom: -0.438rem;
  right: -2.25rem;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  .our-projects-slider .slick-current .our-project-content {
    right: -1.25rem;
  }
}

@media (max-width: 1024px) {
  .our-projects-slider .slick-current .our-project-content {
    right: -0.625rem;
  }
}

@media (max-width: 767px) {
  .our-project-content {
    width: 25rem;
  }

  .our-projects-slider .slick-current .our-project-content {
    bottom: 0.4rem;
  }
}

@media (max-width: 576px) {
  .our-projects-slider .slick-current .our-project-content {
    right: 0;
    bottom: 0;
  }

  .our-project-content {
    width: 19rem;
  }

  .site-heading,
  .site-sub-heading {
    font-size: 1.5rem;
  }

}